@charset "UTF-8"; 

/* test */
/* testtest */
/* 
 * normalize css
 */
* {
  text-align: left;
}
html, body { margin:0; padding:0 }
/* 
 * fonts
 */
@font-face {
  font-family: droidserif;
  font-style: normal;
  font-weight: normal;
  src: url('http://this.transpect.io/a9s/ts/fonts/droid/DroidSerif-Regular.ttf') format('truetype');
}
@font-face {
  font-family: droidserif;
  font-style: italic;
  font-weight: normal;
  src: url('http://this.transpect.io/a9s/ts/fonts/droid/DroidSerif-Italic.ttf') format('truetype');
}
@font-face {
  font-family: droidserif;
  font-style: normal;
  font-weight: bold;
  src: url('http://this.transpect.io/a9s/ts/fonts/droid/DroidSerif-Bold.ttf') format('truetype');
}
@font-face {
  font-family: droidserif;
  font-style: italic;
  font-weight: bold;
  src: url('http://this.transpect.io/a9s/ts/fonts/droid/DroidSerif-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: normal;
  src: url('http://this.transpect.io/a9s/ts/fonts/roboto/Roboto-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'roboto';
  font-style: italic;
  font-weight: normal;
  src: url('http://this.transpect.io/a9s/ts/fonts/roboto/Roboto-Italic.otf') format('opentype');
}
@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: bold;
  src: url('http://this.transpect.io/a9s/ts/fonts/roboto/Roboto-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'roboto';
  font-style: italic;
  font-weight: bold;
  src: url('http://this.transpect.io/a9s/ts/fonts/roboto/Roboto-MediumItalic.otf') format('opentype');
}
p, li {
  font-family: droidserif, 'Georgia', serif;
}
h1, h2, h3, h4, h5, h6, blockquote *, a, section.title-page p.author, span.toc-author, p.heading-author, dd, dt{
  font-family: 'roboto', sans-serif;
}
/* 
 * colors
 */
h1, h2, h3, a { 
  color:#00354a
}
/* 
 * page layout
 */
body {
  margin: 3% 2% 2% 5%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
/* 
 * links
 */
a {
  text-decoration:none;
}
/* 
 * headlines
 */
h2.part {
  font-size: 3em;
  margin:1em 0;
}
h2.part, h3.chapter, h3.toc-title, div.bibliography h3 {
  page-break-before:always;
}
h2.part, h3.chapter, h4.chapter, h3.toc-title, div.bibliography h3 {
  font-weight: bold;
}
p.notes-headline {
  font-family: 'roboto', sans-serif;
  font-size: 1.5em;
  padding: 1em 0 0.5em 0;
}
h5.section {
  font-weight: normal;
}
h3.chapter, h4.chapter, h3.toc-title, div.bibliography h3, h3.part{
  font-size: 2em;
  padding: 1.5em 0 1em 0;
  border-bottom: 2px solid #00354a;
  display: flex;
  align-items: baseline;
}
h3.part{
  border:none;
}
h3.chapter + h4.section, h4.chapter + h5.section  {
  margin-top:0;
}
h4.section {
  font-size: 1.5em;
}
h5.section {
  font-size: 1.3em;
}
h6.section, h6.tsheading4notoc {
  font-size: 1em;
}
span.heading-subtitle {
  font-weight:normal;
}
.justifier,
.heading-subtitle{
  display: inline-block;
}
p.heading-author {
  margin-top:-1em;
  font-size:1.2em;
  font-style:italic;
  margin-bottom: 1em;
}
/* 
 * paragraphs
 */
p {
  margin:0;
  line-height:1.6;
}
div > p+p:not([class]) {
  text-indent: 2em;
}
p.heading-author + p {
  text-indent:0em;
}
div.lox p.indent {
  text-indent:0;
}
blockquote {
  margin: 1.2em 0 1.2em 2em;
}
p.tsliterature {
  margin: 0 0 0 2em;
  text-indent: -2em;
}
/* 
 * footnotes
 */ 
p.note, p.endnote { 
  font-size:0.9em;
  margin-left: 1.5em;
}
p.note + p {
  text-indent:0; 
}
a.fn-m, a.en-m { 
  float:left; 
  width:1.5em; 
  margin-left:-1.5em; 
  vertical-align:top;
  display:inline-block;
}
a.fn-m.large, a.en-m.large { 
  width:2.5em; 
  margin-left:-2.5em;
}
span.fn-t {
  margin-top:0;
  vertical-align:top;
  padding-left:0.5em;
  display:block;
}
span.fn-t.next.narrow { 
  margin-left:1.5em;
}
span.fn-t.next.large { 
  margin-left:2.5em;
}
span.fn-t.next { 
  text-indent:1em;
}
span.fn-p { 
  display:block;
  text-indent: 0;
}
/* 
 * halftitle
 */
 div.about-book {
  border-left:5px solid #00354a;
}
div.about-author {
  border-left:5px solid #8ea5ad;
}
div.about-book, div.about-author {
  margin-top:1em;
  padding:0 1em;
}
/* 
 * title page
 */
h1.title {
  margin: 0.5em 0 0 0;
  font-size: 3em;
  font-weight: bold;
}
h2.subtitle, section.title-page p.author {
  margin-top: 0.5em;
  font-weight: normal;
}
section.title-page p.author {
  font-size:1.2em;
}
section.title-page h2.subtitle {
  font-size: 1.5em;
}
p.reihe {
  margin-top: 6em;
}
section.title-page div.logo {
  margin-top: 1em;
}
section.title-page div.logo img {
  height: 2.2em;
}
/* 
 * imprint
 */
section.imprint p {
  text-indent: 0;
}
section.imprint a {
  font-size: 1em;
}
p.license-image, p.copyright-holder, p.copyright-text, p.publisher-url {
margin-top: 1em;
}
p.copyright-text {
  margin-bottom:1em;
}
p.license-image img {
  height: 3em;
}
p.licence-text, p.licence-link, p.licence-href {
  font-family: 'roboto', 'Corbel', 'Helvetica', sans-serif;
}
p.dnb-headline {
  font-weight: bold;
  margin-top: 1em;
}
/* 
 * toc
 */
nav#landmarks-navigation {display:none;}
nav ol li {
  list-style-type:none;
  line-height: 1.6em;
}

#toc ol {
  padding:0;
  list-style:none;
  margin-top:0.5em;
}
#toc li.toc2, #toc li.toc3 {
  margin:1em 0;
  font-weight:bold;
}
#toc li.toc4, #toc li.toc5, #toc li.toc6 {
  font-weight:normal;
}
#toc li.toc2 a {
  display: block;
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  border-top: 1px solid #ccc;
}
#toc li.toc3 a, #toc li.toc4 a, #toc li.toc5 a, #toc li.toc6 a { 
  display:inline; 
  border-style:none; 
  margin:0; 
  padding:0 
}
#toc li.toc4 {
  margin-left:0em;
}
#toc li.toc5 {
  margin-left:1em;
}
#toc li.toc6 {
  margin-left:2em;
}
#toc a {
  font-size:1em;
}
span.toc-author, span.toc-subtitle {
  font-weight:normal;
}
span.toc-author {
  font-style:italic;
}
span.label.width-5 { display:inline-block }
h3 span.label.width-5 { min-width:1.5em; }
h4 span.label.width-5 { min-width:2em; }
h5 span.label.width-5 { min-width:1.75em; }

/*
 * cover
 */
#epub-cover-image-container {
  text-align: center;
  width:100%;
}
#epub-cover-image-container img{
  width:100%;
}
/* title pages :)*/

section.fulltitle {
  padding-top:2em;
}
p.widmung{ 
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
 }
p.kurztext{ 
  margin-top:3em;
  text-indent:0;
}
section.title-page p.autor { 
  font-family:'roboto', sans-serif; 
  margin-bottom:1em; 
  font-weight:normal;
}
h1.titel {
   font-weight:bold;
  }
h2.untertitel { font-weight:normal; font-size:1em; }

p.copyright {
  margin-bottom:1em; 
  font-weight:bold;
  font-family: 'roboto', sans-serif;
}
p.copyright, p.umschlaggestaltung {margin-top:1em;}

div.lizenzlogo img { height:2em}

div.tsboxgrey, div.tsboxborder { 
  margin: 1em 0em; 
  padding:0.75em;
}

div.tsboxgrey{ 
  background-color:#ccc;
}

div.tsboxborder { 
  border:1px solid black;
}

p.tsauthordescription {
  margin: 1em 0 0 0;
  text-indent: 0em;
}

p.tstablecaption {
  margin-top: 1em;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
dt {
  float: left;
  width: 30%;
  padding: 0;
  margin: 0;
}
dd {
  float: left;
  width: 70%;
  padding: 0;
  margin: 0;
  display: list-item;
  list-style: none;
}

blockquote > p {
  font-size: 0.95rem !important;
}
blockquote > p+p {
  text-indent: 0;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}
p.qualifikationsnachweis, p.gutachter, p.widmung, p.dank, p.fordertext, p.bibliografische_information, p.copyright {
  margin-top: 1em;
  font-size:0.9em;
}
section.imprint p {
  font-size:0.9em;
}
p.lizenzlogo img {
  height: 3em;
}
p.kurztext {
  font-family:"Roboto", sans-serif; 
  font-weight:normal; 
  font-size:0.90em;
  margin: 3em 0em 1.5em 0em; 
  padding: 0em 0em 0.3em 0.7em; 
  border-left: 1.2em solid #ddd; 
  border-bottom: 0.2em solid #ddd;
}
p.autoreninformationen {
  font-size: 0.9em;
  text-indent: 0;
  margin-top: 1em;
}
p.reiheninfo {
  font-family: 'roboto', sans-serif;
  font-size: 0.9em;
  margin-top: 2em;
}
h2.editorial {
  font-size: 1.0em;
  text-indent: 0;
  margin-top: 2em;
  margin-bottom: 0.2em;
}
h2.editorial + p.editorial {
  margin-top: 0em;
}
p.editorial {
  font-size: 0.9em;
  text-indent: 0;
  margin-top: 1em;
}
span.article-title{
  font-weight: bold;
}
.tsmottosource{
  display: block;
}
.tsmotto, .tsmottosource, blockquote.epigraph{
  margin: 0 0 2em 40%;
  font-size: 1rem !important;
  line-height: 1.5em !important;
}
figure {
  margin: 1em auto;
}
figcaption {
  font-size: 0.8em;
  font-style: italic;
}
figcaption p{
  text-indent: 0;
}
p.fig-title {
  margin-bottom: 1em;
}
div.table-wrapper {
  margin-bottom: 1em;
}
p.pollux{
  margin-bottom: 1em;
  font-size: 85%;
}
