@charset "UTF-8"; 

h3.article,  h3.book-review {
  page-break-before:always; font-weight: bold;
}

h3.article, h4.article, h3.book-review, h4.book-review {
  font-size: 2em;
  padding: 1.5em 0 1em 0;
  border-bottom: 2px solid #00354a;
}
h3.article + h4.section, h4.article + h5.section, h3.book-review + h4.section, h4.book-review + h5.section  {
  margin-top:0;
}

p.tsauthordescription {margin-top:1em;}